/* body{
  text-align: center;
} */

.name-cell {
    text-transform: capitalize;
}

.tabledata .col {
    cursor: pointer;
  
  }
  
  .tabledata .col .pointer:after {
    font-size: 80%;
    content: "";
   
  }
  
  .tabledata .col .pointer:hover:after {
    font-size: 80%;
    content: "🔻";

    
  }

