form {

  margin-bottom: 3%;
  padding: 10px;
  margin-left: 41%;
  
  
  }
  
  form.search button[type="submit"] {
   justify-content: center;
    margin-top: 10px;
  }
  

  button {
    border: 1px solid black;

  }


  button:hover{
    background-color: #101D42;
    color: #ffffff;


  }