form {
  margin-left: 40%;
  margin-bottom: 3%;
  }
  
  form.search button[type="submit"] {
    float: right;
    margin-top: 10px;
  }
  

  button {
    border: 1px solid black;

  }


  button:hover{
    background-color: #101D42;
    color: #ffffff;


  }